/* apply universal margin to site*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* set the background color for the whole site */
body {
    background-color: #d9dcd6;
}

/* set the header to have 20 px paddding all around, and choose from 1 of the 6 fonts.  If the first 5 fonts 
are not know, default is sans-serif*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* show this on the same line instead of as default block */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* change the color of seo portion of company name */
.header h1 .seo {
    color: #d9dcd6;
}

/* apply new font fam to all div elements, fixed the calibri font missing quote*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*for unordered list, remove the default formatting*/
.header div ul {
    list-style-type: none;
}
/* allow to diplay the items in 1 line instead of like bullets and 25 px all around*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* set the size for all paragraph elements */
p {
    font-size: 16px;
}

/* this is the main graphic to entice users to explore the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content  {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
   /* add the seo, online_rep, & social mkting styles here; added quotes to fonts*/

    .mainsite {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
        background-color: #0072bb;
        color: #ffffff;    
    }

/* allow the text of online rep management to be to the left of pic */
.float-left {
    float: left;
    margin-right: 25px;
}

/* let the picture be on the right of text instead of left and just below */
.float-right {
    float: right;
    margin-left: 25px;
}



.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.content img{
    max-height: 200px;
}

/* set font, border padding for the right display items of page; add quotes to fonts*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #2589bd;
}

/* this 3 should be combined since all are the same */
    .benefits-list {
        margin-bottom: 32px;
        color: #ffffff;
    }
/* .benefit-lead h3 { */
    .benefits-list h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*.benefit-lead img { */
    .benefits-list img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
